[Unit]
Description = Fortunes As A Service HTTP Server
ConditionPathExists=/usr/sbin/httpd
After=network.target

[Service]
Type=simple
User=faas
Group=faas
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory = /srv/
ExecStart = /usr/sbin/httpd
KillSignal = SIGQUIT
Environment=ENVIRONMENT=production

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/faas
ExecStartPre=/bin/chown faas /var/log/faas
ExecStartPre=/bin/chmod 755 /var/log/faas
StandardOutput=/var/log/httpd/logs.log
StandardError=/var/log/httpd/logs.log
SyslogIdentifier=faas

[Install]
WantedBy=multi-user.target
