Description=Job running the FaaS http server
Documentation=https://www.github.com/Travmatth-org/faas

[Unit]
Description = Fortunes As A Service HTTP Server
ConditionPathExists=/usr/sbin/httpd
After=network.target
Requires=httpd.socket

[Service]
Type=notify
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory = /srv/
ExecStart = /usr/sbin/httpd --prod
WatchdogSec=10s
KillSignal = SIGQUIT

PermissionsStartOnly=true

# Logging details
LogsDirectory=/var/logs/faas
StandardOutput=journal
StandardError=journal
SyslogIdentifier=faas

# golang sets O_NONBLOCK on sockets it opens
# we want to imitate that behavior
NonBlocking=true

[Install]
WantedBy=multi-user.target
