<!DOCTYPE html>
<html>
        <head> 
                {{> ../partials/head}}
        </head>
        <body>
                {{> ../partials/header}}
                <main id="app"></main>
                {{> ../partials/footer}}
        </body>
</html>
