<!DOCTYPE html>
<html>
        {{> ../partials/head}}
        <body>
                {{> ../partials/header}}
                <main>
                        <div class="">
                                <div class="">
                                        <h1 class="">Coming Soon: Fortune Of The Day!</h1>
                                        <div class=""/>
                                        <p class="">For all of your fortune-telling needs</p>
                                </div>
                        </div>
                </main>
                {{> ../partials/footer}}
        </body>
</html>
