<!DOCTYPE html>
<html>
        {{> ../partials/head}}
        <head></head>
        <body>
                {{> ../partials/header}}
                <main>
                        <div class="">
                                <div class="">
                                        <h1 class="">Get Page</h1>
                                </div>
                        </div>
                </main>
                {{> ../partials/footer}}
        </body>
</html>
