{
	"parser": "babel-eslint",
	"extends": ["airbnb/base"],
	"ignorePatterns": ["**/*.d.ts"],
	"rules": {
		"max-len": [1, 80, 2, {"ignoreComments": false}],
		"import/extensions": ["error", "ignorePackages", {
			"js": "never",
			"ts": "never",
			"vue": "never"
		}]
	},
	"env": {
		"browser": true
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "config/webpack.config.js"
			},
			"node": {
				"extensions": [".js", ".ts", ".vue"]
			}
		}
	}
}